@import url('http://fonts.googleapis.com/css?family=Poppins:400,500,700');
/*This part is fit with width = 1920x1080*/
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}


@media (max-width: 1920px) {
    .navbar-nav li {
        font-size: 25px;
        padding-right: 40px;
    }
}

@media (max-width: 1600px) {
    .navbar-nav li {
        font-size: 22px;
        padding-right: 38px;
    }
}

@media (max-width: 1440px) {
    .navbar-nav li {
        font-size: 20px;
        padding-right: 36px;
    }
}

@media (max-width: 1366px) {
    
}

@media (max-width: 1280px) {
    
}

@media (max-width: 1024px) {
    .navbar-nav li {
        font-size: 20px;
        margin-top: 15px;
    }

    input {
        width: 10px;
    }

    #search-box {
        width: 120px;
        font-size: 12px;
    }
}

@media (max-width: 984px) {
    .navbar-nav li {
        margin-left: 30px;
    }
    
    .dropdown-menu {
        width: 30%;
    }
    #search-box {
        width: 300px;
        font-size: 15px;
        margin-left: 30px;
    }
}

@media (max-width: 425px) {
    .navbar-brand{
        width: 80%;
    }
    .navbar-brand img {
        width: 90%;
    }
}

@media (max-width: 380px) {
    .navbar-brand{
        width: 70%;
    }
    .navbar-brand img {
        width: 90%;
    }
    #search-box {
        width: 250px;
        font-size: 15px;
    }
}

@media (max-width: 320px) {
    .navbar-nav li {
        margin-left: 10px;
        font-size: 15px;
    }
    .navbar-brand{
        width: 70%;
    }
    .navbar-brand img {
        width: 80%;
    }
    #search-box {
        width: 200px;
        font-size: 15px;
        margin-left: 10px;
    }
}